/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   Reset 
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}




/* New font : Raleway */
@font-face{
    font-family: "Raleway, bold";
    src: url(fonts/Raleway/Raleway-VariableFont_wght.ttf)
}


*{

    font-family:"Raleway" , Arial, Helvetica, sans-serif;
}
body{
    margin: 0px;
}
 
header{
    margin: 0 50px;
    
}

nav{
    display: flex;
    justify-content: space-between;

}
.menu__mobile__container{
    display: none;
}
.menu__container{
    display: flex;
}
nav ul{ 
    list-style: none;
    display: flex; 
}
nav ul a {
    text-decoration: none;
    
}
nav ul a:hover{
    border-top:  solid 2px #0065FC;
}

nav li {
    margin: 50px;
    color: gray;
    font-weight: 400;
}
.menu__container a li:hover{
    color: #0065FC;
    font-weight: 400;
}
.menu__inscrire li { 
    margin-right: 25px;
    color: #0065FC;
    font-weight: 500;
}
/*  --------------------------------------------
    Barre de recherche
    --------------------------------------------
*/


.barreRecherche{
    margin: 0 50px;
}
.barreRecherche h1{
    font-size: 1.3rem;
    margin-bottom: 10px;
}
.barreRecherche p {
    font-size: 0.95rem;
    font-weight: 400;
    color: gray;
    margin-bottom: 20px;
}
.barreRecherche__formulaire__container {
    display: flex;
}

.barreRecherche__formulaire__icon{
    padding: 15px;
    background-color:#F2F2F2;
    text-align: center;
    border-radius: 15px 0 0 15px;
}

.barreRecherche__formulaire__input{
    padding: 10px;
    border: solid 1px #F2F2F2;
    width: 200px;
}
.barreRecherche__formulaire__boutton{
    background-color: #0065FC;
    color: white;
    border: 1px solid #0065FC;
    border-radius: 0 15px 15px 0;
    width: 100px;
    font-size: 15px;
    font-weight: 400;
}
.barreRecherche__formulaire__boutton p{
    color: white;
    margin-bottom: 0;
    padding: 12px 0;
}

#barreRecherche__formulaire{
    display: flex;
    align-items: center;
}
.barreRecherche__container{
    margin-bottom: 20px;
}

#barreRecherche__formulaire__search{
    display: none; 
}


/*  --------------------------------------------
    Filtres
    --------------------------------------------
*/


.filtre{
    display: flex;
    margin : 30px 50px;   
}
.filtre p {
    align-self: center;
    margin-bottom: 15px;
    font-weight: bold;
}
.filtre__container__bouttons{
    align-self: center;
    margin-left: 2vw;
    display: flex;
    flex-wrap: wrap;
}

.filtre__bouttons{
    padding: 0px;
    display: flex;
    background-color: white;
    border: 3px #F2F2F2 solid ;
    border-left-width: 0px;
    border-radius: 30px;
    justify-content: flex-start;
    align-items: center;
    margin:0 30px 20px 10px ;
    
}

.filtre__bouttons__icon{
    color: #0065FC;
    font-size: 15px;
}

.filtre__bouttons__container__icon{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border: solid 1px #DEEBFF;
    border-radius: 20px;
    background-color: #DEEBFF;
    width: 40px;
}
.filtre__bouttons p{
    margin-bottom: 0;
}
.filtre__bouttons__texte{
    padding-left: 0.5vw;
    padding-right: 1vw;
    font-size: 0.9rem;
    font-weight: bold;
}


/*  --------------------------------------------
    Bulle d'informations
    --------------------------------------------
*/

.info{
    margin: 0px 50px;
    display: flex;
    align-items: center;
    color: gray;
    
}
.info__container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #F2F2F2 ;
    border-radius: 10px;
    height: 20px;
    width: 20px;
    color: #0065FC;
    font-size: 16px;
    
    margin-right: 10px ;
}

/*  --------------------------------------------
    Bloc Hebergement
    --------------------------------------------
*/


.hebergement{
    display: flex;
    margin: 50px;
    justify-content: space-between;
    
}
.hebergement__container{
    background-color: #F2F2F2;
    padding: 35px;
    border-radius: 15px;
    
}
.hebergement__container h3 {
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: 600;
}
.hebergement__grid{
    display: flex;
    flex-wrap: wrap;
    max-width: 880px;
    justify-content: space-between;
    
}
.hebergement__item{
    width: 250px;
    height: 200px;
    background-color: white;
    padding: 4px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    margin-bottom: 56px;
    box-shadow: 1px 1px 1px 1px #e7e6e6;
}
.hebergement__item:hover{
    transform: scale(1.1);
}

.hebergement__item img {
    width: 250px;
    margin: 0px;
    height: 115px;
    align-self: center;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}
.hebergement__item__text{
    margin: 10px;
    display: flex;
    flex-direction: column;
   justify-content: center;
}
.hebergement__item h4{
    font-weight: bold;
    font-size: 1rem;
}
.hebergement__item p{
    margin: 10px 0;
    font-size: 0.9rem;
    font-weight: 300;
}

.hebergement__item__etoiles .fa-star{
    color: #0065FC;
    font-size: 12px;
}
.quatreEtoiles .Stars5{
    color: #F2F2F2;
}
.troisEtoiles .Stars4 {
    color: #F2F2F2;
}
.hebergement__more{
    margin: 0;
    font-size: 1rem;
    font-weight: 600;
}

/*  --------------------------------------------
    Bloc Populaire
    --------------------------------------------
*/



.populaire{
    background-color: #F2F2F2;
    width: 360px;
    border-radius: 15px;
    padding: 30px;
    
}
.populaire__title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 21px;
    margin-left: 5px;
}
.populaire__title h3{
    font-size: 1.2rem;
    font-weight: 600;
    
}
.populaire__title__icon{
    align-self: center;
    font-size: 22px;
    margin-right: 10px;
}

.populaire__grid{
    display: flex;
    flex-direction: column;
}
.populaire__item{
    width:340px;
    height: 140px;
    background-color: white;
    padding: 4px;
    display: flex;
    border-radius: 15px;
    margin-bottom: 45px;
    box-shadow: 1px 1px 1px 1px #e7e6e6;
}
.populaire__item:hover{
    transform: scale(1.1);
}
.populaire__item img{
    width: 130px;
    height: 140px;
    margin: 0;
    min-width: 130px;
    justify-content: center;
    border-radius: 15px 0 0 15px;
    object-fit: cover;
}
.populaire__item__description{
    margin: 5px 20px 5px 15px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.populaire__item h4{
    margin: 0;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.3em;
}

.last{
    margin-bottom: 0;
}
.populaire__item__description p {
   margin: 0;
   margin-top: -25px; 
}

.populaire__item__etoiles .fa-star{
    color: #0065FC;
    font-size: 12px;
}


/*  --------------------------------------------
    Bloc Activités
    --------------------------------------------
*/



.activites{
    margin: 50px 50px;
}
.activites h3 {
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: 600;
}
.activites__grid{
    display: flex;
    justify-content: space-between;
   
    flex-wrap: wrap;
}
.activites__item{
    border-radius: 20px;
    border: solid 3px #F2F2F2;
    margin-bottom: 20px;
    
}
.activites__item:hover{
    transform: scale(1.1);
}
.activites__item h4{
    margin-left: 15px;
    font-weight: 600;
    padding: 15px 0;
}
.activites__column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.port img{
    width: 300px;
    height: 390px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}
.parc img{
    width: 300px;
    height: 390px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}
.fort img{
    width: 300px;
    height: 175px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}
.ile img{
    width: 300px;
    height: 100px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}
.dame img{
    width: 300px;
    height: 140px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}
.parcL img{
    width: 300px;
    height: 155px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}


/*  --------------------------------------------
    Footer
    --------------------------------------------
*/

footer{
  
    background-color: #F2F2F2;
    display: flex;
    padding:25px 50px ;
    justify-content: flex-start;
    
}
footer h3 {
    margin-bottom: 20px;
    margin-top: 10px;
}
footer div{
    margin-right: 20%;
}

footer p {
    margin-bottom: 15px;
    font-size: 0.9rem;
    font-weight: 300;
}
footer div a {
    text-decoration: none;
    
    color: grey;
}

/*  --------------------------------------------
   Version tablette
    --------------------------------------------
*/

@media (max-width:768px){
    .hebergement{
        flex-direction: column-reverse;
        margin: 20px;
    }
    .hebergement__container{
        padding: 20px 0px;
        width: 100%;
        margin: 0px;
        text-align: center;
    }
    .hebergement__grid{
        justify-content: space-around;
        width: 100%;
    
    }
    .populaire{
        width: 100%;
        margin-top: 20px;
        background-color: white;
        padding: 0px;
    }
    .populaire__grid{
        align-items: center;
        text-align: center;
    }
    .populaire__item{
     flex-direction: column;
    }
    .populaire__item img{
       width: 100% ;
       height:250px;
       border-radius: 15px;
    }
    .populaire__item__description{
        margin: 10px;
    }
    .populaire__item__etoiles{
       margin: 10px 0px;
    }
   
}

/*  --------------------------------------------
    Version Mobile
    --------------------------------------------
*/

@media (max-width:425px){
    header{
       margin: 0px; 
    }
    nav{
        flex-wrap: wrap;
        margin-right: 0px;
    }
    nav li {
        margin:0px;
    }
    nav img{
        margin-left: 20px;
    }
    .menu__inscrire{
        margin-right: 10px;
    }
    .menu__container{
       display: none;
    }
    .menu__mobile__container{
        
        list-style: none;
        display: flex;
        justify-content: space-around;
        width: 100%;
        
    }
    .menu__mobile__container__hebergement{
        width: 50%;
        text-align: center;
        border-bottom: 2px solid #F2F2F2;
        margin-top: 20px;
    }
    .menu__mobile__container__hebergement:hover{
        border-bottom: 2px solid #0065FC;
        color: #0065FC;
    }
    .menu__mobile__container__activites{
        width: 50%;
        text-align: center;
        border-bottom: 2px solid #F2F2F2;
        margin-top: 20px;
    }
    .menu__mobile__container__activites:hover{
        border-bottom: 2px solid #0065FC;
        color: #0065FC;
    }
    .menu__mobile__container a{
        text-decoration: none;
        color: gray;
    }
    .menu__mobile__container li:hover{
        
        color: #0065FC;
    }
    .menu__mobile__container li{
        color:gray;
    }
    .barreRecherche{
        margin: 20px 20px;
       
    }
    
    #barreRecherche__formulaire__search{
        display: block ;
        align-items: center;
        justify-content: center;
    }
    .filtre{
        flex-direction: column;
        margin: 20px;
    }
    .filtre__container__bouttons{
        margin-left: 0px;
    }
    .filtre__bouttons{
        margin:5px
    }
    .barreRecherche__formulaire__boutton{
        padding: 20px;
       
        justify-self: center;
        align-items: center;
        height: 50px;
        width: 50px;
        border-radius: 15px;
        right: 50px;
        
    }
    .barreRecherche__formulaire__boutton p{
        display: none;
    }
    .info{
        margin: 20px;
    }
    .hebergement{
        margin: 0px;
        
    }
    .hebergement__container{
        background-color: #FFFFFF;
        width: auto;
    }
    .hebergement__container h3 {
        text-align: left;
        margin-left: 20px;
    }
    .hebergement__item{
        width: 90%;
        border: #F2F2F2 solid 2px;
        box-shadow: 5px 3px 5px 5px #F2F2F2;
        border-radius: 15px;
        padding: 5px;
        text-align: left;
    }
    .hebergement__item img{
        width: 100%;
        border-radius: 15px 15px 0px 0px;
        
    }
    .hebergement__grid{
        justify-content: center;
        align-content: center;
        flex-direction: column;
    }
    .hebergement__more{
        text-align: left;
        margin-left: 20px;
    }
    .populaire{
        background-color: #F2F2F2;
        border-radius: 0;
        width: 100%;
        padding: 10px 0px;
        margin: 0px 0px 20px 0px;
    }
    .populaire__title__icon{
        margin-right: 30px;
    }
    .populaire__title{
        margin-left: 20px;
    }
    .populaire__item{
        flex-direction: row;
        width: 90%;
        height: 95px;
    }
    .populaire__item img {
        height: 90px;
        width : 130px;
        border-radius: 15px 0 0 15px;
    }
    .activites{
        margin: 20px;
    }
    .activites__item{
        width: 100%;
    }
    .activites__item img{
        width: 100%;
        height: 150px;
    }

    footer{
        flex-direction: column;
    }
}