/* New font : Raleway */
@font-face{
    font-family: "Raleway";
    src: url(fonts/Raleway/Raleway-VariableFont_wght.ttf)
}

*{
    box-sizing: border-box;
}

body{
    font-family:"Raleway" , Arial, Helvetica, sans-serif;
    margin: 50px;
}

header{
    display: flex;
    justify-content: space-between;
}

nav{
    margin-right: 10px;
}
nav ul{ 
    list-style: none;
    display: flex; 
}
nav ul a {
    text-decoration: none;
}
nav ul a:active{
    text-decoration: overline solid 2px #0065FC;
}

nav li {
    margin: 50px;
    color: #0065FC;
}

.InputContainer {
    display: flex;
}

.Icon{
    padding: 15px;
    background-color:#F2F2F2;
    text-align: center;
    border-radius: 15px 0 0 15px;
}

.InputField{
    padding: 10px;
    border: solid 1px #F2F2F2;
    width: 200px;
}
.InputBtn{
    background-color: #0065FC;
    color: white;
    border: 1px solid #0065FC;
    border-radius: 0 15px 15px 0;
    padding: 10px;
    width: 100px;
    font-size: 15px;
    font-weight: 400;
}

#FormSearchBar{
    display: flex;
}
