/* New font : Raleway */
@font-face{
    font-family: "Raleway";
    src: url(fonts/Raleway/Raleway-VariableFont_wght.ttf)
}



body{
    font-family:"Raleway" , Arial, Helvetica, sans-serif;
    margin: 50px;
}

header{
    display: flex;
    justify-content: space-between;
}

nav{
    margin-right: 10px;
}
nav ul{ 
    list-style: none;
    display: flex; 
}
nav ul a {
    text-decoration: none;
}
nav ul a:active{
    text-decoration: overline solid 2px #0065FC;
}

nav li {
    margin: 50px;
    color: #0065FC;
}

.InputContainer {
    display: flex;
}

.Icon{
    padding: 15px;
    background-color:#F2F2F2;
    text-align: center;
    border-radius: 15px 0 0 15px;
}

.InputField{
    padding: 10px;
    border: solid 1px #F2F2F2;
    width: 200px;
}
.InputBtn{
    background-color: #0065FC;
    color: white;
    border: 1px solid #0065FC;
    border-radius: 0 15px 15px 0;
    padding: 10px;
    width: 100px;
    font-size: 15px;
    font-weight: 400;
}

#FormSearchBar{
    display: flex;
}
.SearchBar{
    margin-bottom: 20px;
}



.BlockFilter{
    display: flex;
    
}
.BlockBtnFilter{
    align-self: center;
    margin-left: 2vw;
    display: flex;


}

.BtnFilter{
    display: flex;
    background-color: white;
    border: 2px #F2F2F2 solid ;
    border-radius: 30px;
    justify-content: center;
    margin:0 30px 0 10px ;
    
}
.BtnFilter:active{
    background-color: aquamarine;
}
.IconBtnFilter{
    position: absolute;
    align-self: center;
    padding: 10px;
    background-color: #DEEBFF;
    color: #0065FC;
    border: solid 1px #DEEBFF;
    border-radius: 100%;
    font-size: 23px;
    
}
.child
{
    font-size: 25px;
}
.BtnDivIcon{
   
    padding-top: 2px;
}

.TxtFilter{
    /*border-bottom: 5px solid #F2F2F2;
    border-right: 1px solid #F2F2F2;
    border-top: 1px solid #F2F2F2;
    border-radius: 0 100% 100% 0;
    border: 3px solid black;
    height: 5vh;*/
    padding-left: 4vw;
    padding-right: 1vw;
    font-weight: bold;
}